version: '3'

services:
#  yout-back:
#    image: artur110/yout-back
#    restart: unless-stopped
#    ports:
#      - "8082:8080"
#    depends_on:
#      - db
#      - kafka
#      - minio
#      - media-processor
#    environment:
#      - SPRING_PROFILES_ACTIVE=prod
#
#  media-processor:
#    image: artur110/media-processor
#    restart: unless-stopped
#    ports:
#      - "8083:8081"
#    depends_on:
#      - kafka
#      - minio
#    environment:
#      - SPRING_PROFILES_ACTIVE=prod

  db:
    image: mysql:latest
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: adminadmin
      MYSQL_DATABASE: yout
    ports:
      - "3307:3306"

  zookeeper:
    image: zookeeper
    restart: unless-stopped
    ports:
      - "2181:2181"

  minio:
    image: 'bitnami/minio:latest'
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=adminadmin

  kafka:
    image: bitnami/kafka
    restart: unless-stopped
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,EXTERNAL://:9093
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:9093
    depends_on:
      - zookeeper